In [1]:

import pandas as pd
import numpy as np
print("ready")

ready

In [2]:
df = pd.DataFrame.from_csv('GOPprez/DuPageGOP.csv', index_col=None)
df.dtypes

Precinct    object
Trump        int64
Cruz         int64
Kasich       int64
Rubio        int64
Carson       int64
Santorum     int64
Paul         int64
Huckabee     int64
Bush         int64
Christie     int64
Fiorina      int64
dtype: object

In [53]:
df.drop(df.columns[[12,13,14,15]], axis=1, inplace=True)
df.dtypes

Precinct    object
Trump        int64
Cruz         int64
Kasich       int64
Rubio        int64
Carson       int64
Bush         int64
Christie     int64
Paul         int64
Fiorina      int64
Huckabee     int64
Santorum     int64
dtype: object

In [3]:
# find where Trump is winner
df.loc[ ( df['Trump'] > df['Cruz'] ) & ( df['Trump'] > df['Kasich'] ) & ( df['Trump'] > df['Rubio'] ) & ( df['Trump'] > df['Carson'] ) & ( df['Trump'] > df['Bush'] ) & ( df['Trump'] > df['Christie'] ) & ( df['Trump'] > df['Paul'] ) & ( df['Trump'] > df['Fiorina'] ) & ( df['Trump'] > df['Huckabee'] ) & ( df['Trump'] > df['Santorum'] ), "winner"] = 'Trump'
# Find second place person and do math
df.loc[(df['Kasich'] < df['Trump']) & (df['Kasich'] >= df['Cruz']) & (df['Kasich'] >= df['Rubio']) & (df['Kasich'] >= df['Carson'] & (df['Kasich'] >= df['Bush']) & (df['Kasich'] >= df['Christie']) & (df['Kasich'] >= df['Paul']) & (df['Kasich'] >= df['Fiorina']) & (df['Kasich'] >= df['Huckabee']) & (df['Kasich'] >= df['Santorum'])), "Trump_margin"] = (df['Trump'] - df['Kasich'])
df.loc[(df['Cruz'] < df['Trump']) & (df['Cruz'] >= df['Kasich']) & (df['Cruz'] >= df['Rubio']) & (df['Cruz'] >= df['Carson'] & (df['Cruz'] >= df['Bush']) & (df['Cruz'] >= df['Christie']) & (df['Cruz'] >= df['Paul']) & (df['Cruz'] >= df['Fiorina']) & (df['Cruz'] >= df['Huckabee']) & (df['Cruz'] >= df['Santorum'])), "Trump_margin"] = (df['Trump'] - df['Cruz'])
df.loc[(df['Rubio'] < df['Trump']) & (df['Rubio'] >= df['Cruz']) & (df['Rubio'] >= df['Kasich']) & (df['Rubio'] >= df['Carson'] & (df['Rubio'] >= df['Rubio']) & (df['Rubio'] >= df['Christie']) & (df['Rubio'] >= df['Paul']) & (df['Rubio'] >= df['Fiorina']) & (df['Rubio'] >= df['Huckabee']) & (df['Rubio'] >= df['Santorum'])), "Trump_margin"] = (df['Trump'] - df['Rubio'])

df.head(5)

,Precinct,Trump,Cruz,Kasich,Rubio,Carson,Santorum,Paul,Huckabee,Bush,Christie,Fiorina,winner,Trump_margin
0,Addison 1,39,21,14,3,1,0,0,0,0,0,0,Trump,18
1,Addison 10,70,31,8,13,0,0,0,0,0,0,0,Trump,39
2,Addison 11,65,39,7,8,0,0,0,0,0,0,0,Trump,26
3,Addison 12,74,27,27,15,1,0,0,0,1,0,0,Trump,47
4,Addison 13,104,41,37,4,1,0,0,0,0,0,0,Trump,63

In [4]:
# find where Kasich is winner
df.loc[(df['Kasich'] > df['Trump']) & (df['Kasich'] > df['Cruz']) & (df['Kasich'] > df['Rubio']) & (df['Kasich'] > df['Carson']) & (df['Kasich'] > df['Bush']) & (df['Kasich'] > df['Christie']) & (df['Kasich'] > df['Paul']) & (df['Kasich'] > df['Fiorina']) & (df['Kasich'] > df['Huckabee']) & (df['Kasich'] > df['Santorum']), "winner"] = 'Kasich'
# Find second place person and do math
df.loc[(df['Trump'] < df['Kasich']) & (df['Trump'] >= df['Cruz']) & (df['Trump'] >= df['Rubio']) & (df['Trump'] >= df['Carson'] & (df['Trump'] >= df['Bush']) & (df['Trump'] >= df['Christie']) & (df['Trump'] >= df['Paul']) & (df['Trump'] >= df['Fiorina']) & (df['Trump'] >= df['Huckabee']) & (df['Trump'] >= df['Santorum'])), "Kasich_margin"] = (df['Kasich'] - df['Trump'])
df.loc[(df['Cruz'] < df['Kasich']) & (df['Cruz'] >= df['Trump']) & (df['Cruz'] >= df['Rubio']) & (df['Cruz'] >= df['Carson'] & (df['Cruz'] >= df['Bush']) & (df['Cruz'] >= df['Christie']) & (df['Cruz'] >= df['Paul']) & (df['Cruz'] >= df['Fiorina']) & (df['Cruz'] >= df['Huckabee']) & (df['Cruz'] >= df['Santorum'])), "Kasich_margin"] = (df['Kasich'] - df['Cruz'])
df.loc[(df['Rubio'] < df['Kasich']) & (df['Rubio'] >= df['Trump']) & (df['Rubio'] >= df['Cruz']) & (df['Rubio'] >= df['Carson'] & (df['Rubio'] >= df['Rubio']) & (df['Rubio'] >= df['Christie']) & (df['Rubio'] >= df['Paul']) & (df['Rubio'] >= df['Fiorina']) & (df['Rubio'] >= df['Huckabee']) & (df['Rubio'] >= df['Santorum'])), "Kasich_margin"] = (df['Kasich'] - df['Rubio'])

df.head(5)

,Precinct,Trump,Cruz,Kasich,Rubio,Carson,Santorum,Paul,Huckabee,Bush,Christie,Fiorina,winner,Trump_margin,Kasich_margin
0,Addison 1,39,21,14,3,1,0,0,0,0,0,0,Trump,18,NaN
1,Addison 10,70,31,8,13,0,0,0,0,0,0,0,Trump,39,NaN
2,Addison 11,65,39,7,8,0,0,0,0,0,0,0,Trump,26,NaN
3,Addison 12,74,27,27,15,1,0,0,0,1,0,0,Trump,47,NaN
4,Addison 13,104,41,37,4,1,0,0,0,0,0,0,Trump,63,NaN

In [5]:
# find where Cruz is winner
df.loc[(df['Cruz'] > df['Trump']) & (df['Cruz'] > df['Kasich']) & (df['Cruz'] > df['Rubio']) & (df['Cruz'] > df['Carson']) & (df['Cruz'] > df['Bush']) & (df['Cruz'] > df['Christie']) & (df['Cruz'] > df['Paul']) & (df['Cruz'] > df['Fiorina']) & (df['Cruz'] > df['Huckabee']) & (df['Cruz'] > df['Santorum']), "winner"] = 'Cruz'
# Find second place person and do math
df.loc[(df['Trump'] < df['Cruz']) & (df['Trump'] >= df['Kasich']) & (df['Trump'] >= df['Rubio']) & (df['Trump'] >= df['Carson'] & (df['Trump'] >= df['Bush']) & (df['Trump'] >= df['Christie']) & (df['Trump'] >= df['Paul']) & (df['Trump'] >= df['Fiorina']) & (df['Trump'] >= df['Huckabee']) & (df['Trump'] >= df['Santorum'])), "Cruz_margin"] = (df['Cruz'] - df['Trump'])
df.loc[(df['Kasich'] < df['Cruz']) & (df['Kasich'] >= df['Trump']) & (df['Kasich'] >= df['Rubio']) & (df['Kasich'] >= df['Carson'] & (df['Kasich'] >= df['Bush']) & (df['Kasich'] >= df['Christie']) & (df['Kasich'] >= df['Paul']) & (df['Kasich'] >= df['Fiorina']) & (df['Kasich'] >= df['Huckabee']) & (df['Kasich'] >= df['Santorum'])), "Cruz_margin"] = (df['Cruz'] - df['Kasich'])
df.loc[(df['Rubio'] < df['Cruz']) & (df['Rubio'] >= df['Trump']) & (df['Rubio'] >= df['Kasich']) & (df['Rubio'] >= df['Carson'] & (df['Rubio'] >= df['Rubio']) & (df['Rubio'] >= df['Christie']) & (df['Rubio'] >= df['Paul']) & (df['Rubio'] >= df['Fiorina']) & (df['Rubio'] >= df['Huckabee']) & (df['Rubio'] >= df['Santorum'])), "Cruz_margin"] = (df['Cruz'] - df['Rubio'])

df.head(5)

,Precinct,Trump,Cruz,Kasich,Rubio,Carson,Santorum,Paul,Huckabee,Bush,Christie,Fiorina,winner,Trump_margin,Kasich_margin,Cruz_margin
0,Addison 1,39,21,14,3,1,0,0,0,0,0,0,Trump,18,NaN,NaN
1,Addison 10,70,31,8,13,0,0,0,0,0,0,0,Trump,39,NaN,NaN
2,Addison 11,65,39,7,8,0,0,0,0,0,0,0,Trump,26,NaN,NaN
3,Addison 12,74,27,27,15,1,0,0,0,1,0,0,Trump,47,NaN,NaN
4,Addison 13,104,41,37,4,1,0,0,0,0,0,0,Trump,63,NaN,NaN

In [6]:
df.to_csv("DuPage_margin.csv", index=False, encoding="utf-8")